<% if (page.comments){ %>
	
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
	

	<!-- 页面导航 -->
	<!-- 
		<nav id="pagination" >
		    <% if (page.prev) { %>
		    <a href="<%- config.root %><%- page.prev.path %>" class="alignleft prev" ><%= __('prev') %></a>
		    <% } %>
		    <% if (page.next) { %>
		    <a href="<%- config.root %><%- page.next.path %>" class="alignright next" ><%= __('next') %></a>
		    <% } %>
		    <div class="clearfix"></div>
		</nav>
	-->


 	<!-- 添加gitalk评论 -->
	<div class="card gitalk-card" data-aos="fade-up"> 
		<div id="gitalk-container" class="card-content"></div>
	</div>
	 
  	<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
	<script>
	    let gitalk = new Gitalk({
	        clientID: '<%- theme.gitalk.clientID %>',
	        clientSecret: '<%- theme.gitalk.clientSecret %>',
	        repo: '<%- theme.gitalk.repo %>',
	        owner: '<%- theme.gitalk.owner %>',
	        admin: <%- JSON.stringify(theme.gitalk.admin) %>,
	        id: '<%- date(page.date, 'YYYY-MM-DDTHH-mm-ss') %>',
	        distractionFreeMode: '<%- theme.gitalk.distractionFreeMode %>'
	    });
	 
	    gitalk.render('gitalk-container');
	</script>
	
<% } %>