<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>

      &nbsp; | &nbsp;
      powered by <a href="http://hexo.io/" target="_blank">Hexo</a> 

      &nbsp; | &nbsp;
      <a href="http://tongji.baidu.com/web/welcome/ico?s=552829087bfc7b5aa98c57a617e463c0" target="_blank">
      百度统计</a>
      <%- partial("custom/baidu_tongji") %>

      &nbsp; | &nbsp;
      <%- partial("custom/cnzz_tongji") %>
      <%- partial("custom/busuanzi_tongji") %>
      <span id="busuanzi_container_site_pv">
      </span>

      &nbsp; | &nbsp;
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img style="vertical-align: middle;" alt="知识共享许可协议" style="border-width:0" src="/imgs/creativecommons80x15.png" /></a>
      <br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可

    <div>
  </div>
</footer>