<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>

      &nbsp; | &nbsp;
      powered by <a href="http://hexo.io/" target="_blank">Hexo</a> 

      &nbsp; | &nbsp;
      资源托管<a href="http://www.qiniu.com/" target="_blank">七牛云存储</a>

      &nbsp; | &nbsp;
      <%- partial("cnzz_tongji") %>
      
      &nbsp; | &nbsp;
      百度统计<%- partial("baidu_tongji") %>

    </div>

    <div>
  </div>
</footer>